/** @format */

@import url("https://fonts.googleapis.com/css2?family=Potta+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  font-family: "potta One";
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #272822;
  color: #fff;
  height: 50px;
}
nav img {
  width: 32px;
  margin: 0 10px;
}
.container {
  font-family: "Roboto";
  font-size: 1.3rem;
  color: #272822;
  width: 50vw;
  margin: auto;
  padding: 20px 0;
}
.toolbar-item button {
  color: #fff !important;
  border-radius: 10px !important;
  padding: 5px 10px !important;
}
